*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo',sans-serif;
    text-decoration: none;
    list-style: none;
}

/* Conponans */
img{
    width: 100%;
}
.container{
    padding: 15px 50px;
}
.buton {
    position: relative;
    background: azure;
    width: 123px;
    padding: 3px;
    font-size: 18px;
    border-radius: 18px;
    box-shadow: -2px 2px 20px 10px rgb(0 0 0 / 12%);
    cursor: pointer;
}

.buton:hover i {
    left: 73%;
}

.buton:hover p {
    margin: 0 0 0 10px;
}

.buton i {
    color: #03a9f4;
    position: absolute;
    top: 30%;
    left: 10%;
    transition: .3s;
}

.buton p {
    color: #4485d7;
    margin: 0 0 0 65px;
    transition: .3s;
}
.heading {
    text-align: center;
    font-size: 45px;
    color: #09b9e8;
    letter-spacing: 1px;
}
/* Conponans */
/* start Header */
.header {
    position: fixed;
    width: 100%;
    background: #f0f7f4;
    backdrop-filter: blur(1rem);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: -3px -1px 20px 4px rgb(0 0 0 / 20%);
    z-index: 1000;
}
.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .container .logo {
    font-weight: 400;
    font-size: 20px;
    color: #09b9e8;
}
.header .container ul {
    display: flex;
    align-items: center;
}
.header .container ul li{
    padding: 5px 10px;
}
.header .container ul li a {
    color: #c4bdd3;
    font-size: 17px;
    transition: .2s;
}
.header .container ul li a:hover{
    color: #47c6e9;
}
/* end Header */
/* start Home */
.home {
    width: 100%;
    height: 100vh;
    background-image: url(../img/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}
.home .container .text {
    width: 45%;
}
.home .container .text h4 {
    color: antiquewhite;
    font-size: 22px;
    font-weight: bold;
}
.home .container .text h3 {
    color: #f0f7f4;
    font-size: 27px;
    font-weight: 900;
    background: #03a9f4;
    padding: 0 7px;
}
.home .container .text .ce{
    line-height: 2.2;
    font-size: 16px;
    color: #f0f7f4;
}
.home .container .text .str i {
    color: #e8f70a;
    font-size: 19px;
}
/* end Home */
/* start products */
.Product {
    width: 100%;
    background: #eee;
}
.Product .container {
    padding: 53px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Product .container .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.Product .container .card {
    position: relative;
    width: 372px;
    background: #fff;
    overflow: hidden;
    margin: 10px 6px;
    transition: .3s;
}
.Product .container .card:hover .str{
    transform: translate(0, 0);
    transition: .3s;
}
.Product .container .card .str {
    position: absolute;
    right: 0;
    transform: translate(94px, 0);
    transition: .3s;
    background: #09b9e8;
    padding: 1px 5px;
}
.Product .container .card .str i{
    display: block;
    margin: 10px 0;
    color: white;
    cursor: pointer;
}
.Product .container .card .text{
    padding: 3px 5px;
}
.Product .container .card .text .title{
    text-align: right;
}
.Product .container .card .text .foot{
    display: flex;
    align-items: center;
}
.Product .container .card .text .foot .pay span:first-child {
    background: #09b9e8;
    padding: 2px;
    color: #fff;
}
.Product .container .card .text .buton {
    margin: 0 0 0 auto;
    box-shadow: 0 0 0;
    border-radius: 0;
}
.Product .container .btn{
    margin-top: 15px;
}
.Product .container .btn a{
    background: #09b9e8;
    color: white;
    padding: 3px 5px;
}
/* end products */
/* start banner */
.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../img/b.jpg);
    background-size: cover;
    background-position: top;
    overflow: hidden;
}
.banner .container {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
}
.banner .container .head{
color: #fff;
font-size: 35px;
}
.banner .container form {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}
.banner .container form input {
    padding: 5px;
    width: 300px;
    outline: none;
    border: 0;
    color: #09b9e8;
}
.banner .container form a {
    outline: none;
    border: 0;
    padding: 7px 22px;
    cursor: pointer;
    background: #4ab9d7;
    color: white;
    font-size: 17px;
    font-weight: 600;
}
.contant {
    position: absolute;
    right: -500px;
    top: 30px;
    background: #09b9e8;
    width: 295px;
    height: 50px;
    font-family: sans-serif;
    letter-spacing: 1px;
    color: white;
    transition: 0.5s;
    opacity: 0;
    border-top-right-radius: 20px;
}

.contant.active {
    opacity: 1;
    right: 0;
}

.contant p {
    margin: 6px 0 0 16px;
    font-size: 17px;
}

.contant .sh {
    height: 7px;
    width: 100%;
    background: #7777774d;
    position: absolute;
    bottom: 0;
    right: 0;
}

.contant .sh span {
    position: absolute;
    width: 47%;
    height: 100%;
    top: 0;
    right: 0;
    background: #cacacad4;
    display: block;
}

.contant .X {
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 32px;
    text-align: center;
    background: red;
    border: 3.5px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}
/* end banner */
